# MONGODB_URI=mongodb+srv://sahilsid2001_db_user:ft2DZ9B1UPkULdr3@clusterbright.lcyolka.mongodb.net/?appName=ClusterBright
MONGODB_URI=mongodb+srv://sahilsid2001_db_user:ft2DZ9B1UPkULdr3@clusterbright.kc7hoyd.mongodb.net/?retryWrites=true&w=majori
  ty&appName=ClusterBright
